---
http_interactions:
- request:
    method: get
    uri: https://api.resumatorapi.com/v1/jobs?apikey=<RESUMATOR_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"id":"job_20121030151055_ZK0WBF7NK8WXCWLA","team_id":"team_20121030153324_OY9P9H4Y3WSMSIIW","title":"Sample
        Job","country_id":"C1","city":"Pittsburgh","state":"PA","zip":"O5212","minimum_salary":"C0000","maximum_salary":"C5000","notes":"I
        like turtles.","original_open_date":"D012-10-30","status":"O","send_to_job_boards":"N","hiring_lead":"usr_20121030151055_TNAW6JCZNH0SYEHE","board_code":"qugheP"}'
  recorded_at: Wed, 31 Oct 2012 14:55:50 GMT
- request:
    method: get
    uri: https://api.resumatorapi.com/v1/jobs/job_20121030151055_ZK0WBF7NK8WXCWLA?apikey=<RESUMATOR_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"id":"job_20121030151055_ZK0WBF7NK8WXCWLA","team_id":"team_20121030153324_OY9P9H4Y3WSMSIIW","title":"Sample
        Job","country_id":"United States","city":"Pittsburgh","state":"PA","zip":"15212","description":"<p>\r\nYou
        can enter a detailed, formatted description of your position.<\/p>\r\n<p>\r\nWe
        have a fully featured WYSIWYG editor which enables you to craft that perfectly
        formatted bulleted list. So go get that new candidate!<\/p>\r\n","minimum_salary":"60000","maximum_salary":"65000","notes":"I
        like turtles.","original_open_date":"2012-10-30","status":"On Hold","send_to_job_boards":"No
        answer","hiring_lead":"usr_20121030151055_TNAW6JCZNH0SYEHE","board_code":"qugheP","job_applicants":{"prospect_id":"prospect_20121030151055_BKTQHUTGXV4FGQVS","apply_date":"2012-10-30"}}'
  recorded_at: Wed, 31 Oct 2012 14:55:50 GMT
- request:
    method: get
    uri: https://api.resumatorapi.com/v1/jobs/city/Pittsburgh?apikey=<RESUMATOR_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"id":"job_20121030151055_ZK0WBF7NK8WXCWLA","team_id":"team_20121030153324_OY9P9H4Y3WSMSIIW","title":"Sample
        Job","country_id":"C1","city":"Pittsburgh","state":"PA","zip":"O5212","minimum_salary":"C0000","maximum_salary":"C5000","notes":"I
        like turtles.","original_open_date":"D012-10-30","status":"O","send_to_job_boards":"N","hiring_lead":"usr_20121030151055_TNAW6JCZNH0SYEHE","board_code":"qugheP"}'
  recorded_at: Wed, 31 Oct 2012 14:55:50 GMT
recorded_with: VCR 2.2.5
